extends layout/mainLayout
block content
	include icon/icons
	include components/mui/@index
	include components/@index




	div(class='grid grid-cols-12 p-2 divide-x')

		//- left-section
		div(class='col-span-2')
			+NavComponent()

		//- middle-section
		div(class='col-span-10 md:col-span-7')
			p(class='p-2 border-b border-slate-200') #{pageTitle}
			div(class='p-2 text-slate-700 flex gap-4 mb-8')
				+Avatar({ src: '/images/users/default.jpg' })
				div(class='[&>button]:mt-2 flex-1')
					+Textarea({ name: 'tween' })
					+Button({ value: 'Tween', disabled: false })

			#tweet-container
			//- +Tweet({
			//- 	postedBy: 'Username',
			//- 	avatar: '/images/users/default.jpg',
			//- 	fullName: 'Riajul Islam',
			//- 	username: 'riajulislam',
			//- 	date: '2 month ago',
			//- 	message: 'Your message goes here',
			//- })



		//- right-section
		div(class='hidden md:col-span-3')
			p right

	script.
		const button = $('button')
		const textarea = $('textarea')

		if(!textarea.value.trim()) button.disabled = true
		textarea.addEventListener('input', (evt) => {
			if(!textarea.value.trim()) button.disabled = true
			if(textarea.value.trim()) button.disabled = false
		})

		// Tweet click handler
		button.addEventListener('click', async(evt) => {
			const res = await fetch('/api/tweets', {
				method: 'post',
				body: JSON.stringify({ tweet: textarea.value.trim() }),
				headers: {
					'content-type': 'application/json'
				}
			})

			const data = await res.json()
			console.log(data)

			$('#tweet-container').insertAdjacentHTML('afterbegin', createTweet())
		})

		const fetchTweets = async () => {
			try {

				const res = await fetch('/api/tweets', {
					method: 'get',
					headers: {
						'content-type': 'application/json'
					}
				})

				const data = await res.json()
				data.data?.forEach((tweet, _, tweets) => {
					//- console.log(tweet)

					//- $('#tweet-container').insertAdjacentHTML('beforeend', createTweet({
					//- 	postedBy: `@username`,
					//- 	avatar: '/images/users/default.jpg',
					//- 	fullName: 'Riajul Islam',
					//- 	username: 'riajulislam',
					//- 	date: '2 month ago',
					//- 	message: 'Your message goes here',
					//- 	numberOfMessage: 1,
					//- 	numberOfRetweet: 0,
					//- 	numberOfHeart: 2,
					//- }))

					$('#tweet-container').insertAdjacentHTML('beforeend', createTweet({
						postedBy: tweet.user.username,
						avatar: tweet.user.avatar,
						fullName: `${tweet.user.firstName} ${tweet.user.lastName}`,
						username: tweet.user.username,
						date: `${new Date(tweet.createdAt).getDay()}`,
						date: `${new Date(tweet.createdAt)}`,
						message: tweet.tweet,
						numberOfMessage: tweets.length,
						numberOfRetweet: tweets.length,
						numberOfHeart: 0,
					}))

				})


			} catch (err) {
				console.log(err.message)
			}
		}
		fetchTweets();


		// Chat click handler
		$('#chat')?.addEventListener('click', (evt) => {
			evt.preventDefault()

			console.log(evt.target)
		})

		// retweet click handler
		$('#retweet')?.addEventListener('click', (evt) => {
			evt.preventDefault()

			console.log(evt.target)
		})

		// heart click handler
		$('#heart')?.addEventListener('click', (evt) => {
			evt.preventDefault()

			console.log(evt.target)
		})


	//- p it is a #{pageTitle} page
	//- p it is a 

	//- br
	//- br

	//- p
	//- 	a(href="/login") 
	//- 		button(type="button") Login

	//- p
	//- 	a(href="/logout") 
	//- 		button(type="submit") Logout
	//- p
	//- 	a(href="/user/profile") 
	//- 		button(type="submit") Profile
	

