extends layout/mainLayout
block content
	include icon/icons
	include components/mui/@index
	include components/@index


	div(class='grid grid-cols-12 p-2 divide-x min-h-screen')
		//- left-section
		div(class='col-span-2')
			+NavComponent()

		//- middle-section
		div(class='col-span-10 md:col-span-7 flex flex-col')
			p(class='p-2 border-b border-slate-200') #{pageTitle}
			div(class='p-2 text-slate-700 flex gap-4 pb-8 border-b border-slate-200')
				+Avatar({ src: user.avatar })
				div(id='send-tweet-form' class='[&>button]:mt-2 flex-1')
					+Textarea({ name: 'tween' })
					+Button({ value: 'Tween', disabled: false })


			section#reply-dialog-container
				+RetweetModal({
					fullName: 'Riajul Islam',
					username: 'riajulislam',
					createdAt: timeSince( new Date( ) ),
					avatar: '/images/users/default.jpg',
					replyAvatar: user.avatar,
					tweet: 'hi there, it way an awesome tweets',
					numberOfHeart: 1,
					numberOfRetweet: 1,
				})


			section#tweets-container(class='flex-1')
				section#pinned-tweet-container(class='')

				div(name='loading-container' class='h-full flex flex-col justify-center items-center') 
					p(name='not-found' class='hidden text-slate-500') No tweets founds
					span(name='loading-icon' class='text-blue-500')
						<svg class='w-12 h-12' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><circle cx="12" cy="2" r="0" fill="currentColor"><animate attributeName="r" begin="0" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="2" r="0" fill="currentColor" transform="rotate(45 12 12)"><animate attributeName="r" begin="0.125s" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="2" r="0" fill="currentColor" transform="rotate(90 12 12)"><animate attributeName="r" begin="0.25s" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="2" r="0" fill="currentColor" transform="rotate(135 12 12)"><animate attributeName="r" begin="0.375s" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="2" r="0" fill="currentColor" transform="rotate(180 12 12)"><animate attributeName="r" begin="0.5s" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="2" r="0" fill="currentColor" transform="rotate(225 12 12)"><animate attributeName="r" begin="0.625s" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="2" r="0" fill="currentColor" transform="rotate(270 12 12)"><animate attributeName="r" begin="0.75s" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="2" r="0" fill="currentColor" transform="rotate(315 12 12)"><animate attributeName="r" begin="0.875s" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle></svg>




		//- right-section
		div(class='hidden md:col-span-3')
			p right section hiddend for now




	script(nonce=cspNonce).

		//                                           		// (1) user comes from Server-Side: res.render('/', payload)
		let logedInUser = !{JSON.stringify( user )} 		// (2) Passing Server-Side variable to Client-Side
		//- console.log(logedInUser) 										// (3) Now logedInUser is Client-side variable


		//- styleOnTweetIconClick({ event: evt, tweet, user: logedInUser, selector: '#heart' })
		const styleOnTweetIconClick = ({ event, tweet, user, selector='#heart' }) => {

			const isLiked = tweet.likes.includes(user._id)
			if( isLiked ) {
				event.target.style.fill = 'red' 
				//- event.target.classList.add('fill-red-500') 			// use self class TailwindClass not works
				$(`:scope ${selector} + span`).textContent = tweet?.likes.length

			} else {
				event.target.style.fill = '' 
				$(`:scope ${selector} + span`).textContent = tweet?.likes.length
			}
		}

	script(src="/js/home.js") 
