extends ../layout/mainLayout
block content

	br


	button(
		type='button' 
		name='open-tweet-dialog'
		class='border border-blue-500 text-blue-500 px-3 py-1.5 rounded-md'

	) Retweet

	#my-dialog





	script.
		$('#my-dialog').insertAdjacentHTML('beforeend', getReplyDialogHTML({
			fullName: 'Riajul Islam',
			username: 'riajulislam',
			createdAt: Date.now(),
			avatar: '/images/users/default.jpg',
			replyAvatar: '/images/users/default.jpg',
			tweet: 'hi there, it way an awesome tweets',
			numberOfHeart: 5,
			numberOfRetweet: 5,
		}))

		const openTweetDialogBtn = $('[name=open-tweet-dialog]')
		const dialogEl = $('[name=reply-dialog]')
		const dialogCloseButton = $('[name=dialog-close-button]')
		const dialogCancelButton = $('[name=dialog-cancel-button]')
		const dialogSubmitButton = $('[name=dialog-submit-button]')
		const dialogTweetInput = $('[name=dialog-tweet-input]')

		const dialogChatButton = $('[name=dialog-chat-button]')
		const dialogRetweetButton = $('[name=dialog-retweet-button]')
		const dialogHeartButton = $('[name=dialog-heart-button]')

		// disabled submit button at first time
		if( !dialogTweetInput.value.trim() ) dialogSubmitButton.disabled = true

		// toggle submit on input change
		dialogTweetInput.addEventListener('input', (evt) => {
			dialogSubmitButton.disabled = !evt.target.value.trim() 
		})


		openTweetDialogBtn.addEventListener('click', (evt) => {
			dialogEl.showModal()
		})

		dialogCloseButton.addEventListener('click', (evt) => {
			dialogEl.close()
		})
		dialogCancelButton.addEventListener('click', (evt) => {
			dialogEl.close()
			dialogTweetInput.value = '' 	// empty value
		})
		dialogSubmitButton.addEventListener('click', (evt) => {
			dialogEl.close()
			const value = dialogTweetInput.value

			if( !value.trim() ) dialogCancelButton.disabled = true

			console.log({ value })

			dialogTweetInput.value = '' 	// empty value
		})



		const toggleIcon = (evt, props = {}) => {
			const { activeColor='red', inactiveColor='gray', isValue = true, } = props

			const childSVG = evt.target.children[0]
			const childSpan = evt.target.children[1]
			if(childSVG.tagName !== 'svg') return console.log(`Selector: '${childSVG}' is not svg `)
			if(childSpan.tagName !== 'SPAN') return console.log(`Selector: '${childSpan}' is not span`)

			childSVG.style.color = childSVG.style.color === activeColor ? inactiveColor : activeColor
			//- if( isValue ) childSpan.textContent = childSpan.textContent ? "" : 1
		}

		dialogChatButton.addEventListener('click', (evt) => {
			toggleIcon( evt, { isValue: false })
		})
		dialogRetweetButton.addEventListener('click', (evt) => {
			toggleIcon(evt, { activeColor: 'royalblue' })

		})
		dialogHeartButton.addEventListener('click', (evt) => {
			toggleIcon(evt)
		})
