extends ../layout/mainLayout
block content
	include ../icon/icons
	include ../components/mui/@index
	include ../components/@index

	style.
		body {
			--blue-500: #3b82f6;
			--blue-600: #2563eb;
		}
		.tab-active {
			border-bottom: 1px solid var(--blue-500);
			color: var(--blue-500);
			font-weight: bold;
		}
		.follow-active-button {
			background-color: var(--blue-500);
			color: white;
			font-weight: bold;
		}
		.follow-active-button:hover {
			background-color: var(--blue-600);
			color: white;
			font-weight: bold;
		}


	div(class='grid grid-cols-12 p-2 divide-x')
		//- left-section
		div(class='col-span-2')
			+NavComponent()


		//- middle-section
		div(class='col-span-10 md:col-span-7')
			h1(class='p-2 border-b border-slate-200 text-slate-900 font-bold') #{profileUser.username}

			//- Image Section 
			div(class='border border-slate-100 shadow-sm')
				div(class='h-40 bg-blue-500 relative')
					div(class='border-4 border-white shadow-sm rounded-full absolute left-2 top-28')
						img(class='w-24 h-24 rounded-full peer' src=profileUser.avatar alt=profileUser.avatar )
						//- div(class='bg-slate-800 w-20 h-20 hidden peer-hover:block rounded-full absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2')
						//- <svg class='hidden fill-slate-900/40 w-20 h-20 rounded-full absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 peer-hover:block' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256"><path d="M208 60h-29.87l-14.81-22.22A4 4 0 0 0 160 36H96a4 4 0 0 0-3.32 1.78L77.85 60H48a20 20 0 0 0-20 20v112a20 20 0 0 0 20 20h160a20 20 0 0 0 20-20V80a20 20 0 0 0-20-20Zm12 132a12 12 0 0 1-12 12H48a12 12 0 0 1-12-12V80a12 12 0 0 1 12-12h32a4 4 0 0 0 3.33-1.78L98.13 44h59.72l14.82 22.22A4 4 0 0 0 176 68h32a12 12 0 0 1 12 12ZM128 92a40 40 0 1 0 40 40a40 40 0 0 0-40-40Zm0 72a32 32 0 1 1 32-32a32 32 0 0 1-32 32Z"/></svg>
						<svg class='hidden fill-slate-900/60 w-20 h-20 rounded-full absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 peer-hover:block' xmlns="http://www.w3.org/2000/svg" width="1024" height="1024" viewBox="0 0 1024 1024"><path  d="M864 260H728l-32.4-90.8a32.07 32.07 0 0 0-30.2-21.2H358.6c-13.5 0-25.6 8.5-30.1 21.2L296 260H160c-44.2 0-80 35.8-80 80v456c0 44.2 35.8 80 80 80h704c44.2 0 80-35.8 80-80V340c0-44.2-35.8-80-80-80zM512 716c-88.4 0-160-71.6-160-160s71.6-160 160-160s160 71.6 160 160s-71.6 160-160 160zm-96-160a96 96 0 1 0 192 0a96 96 0 1 0-192 0z"/></svg>
					
				//- Follow container
				div(name='follow-container' class='visible flex gap-4 justify-end items-center mt-3')
					a(href="/message" class='px-3 py-1.5 border border-blue-500 rounded-3xl hover:bg-blue-50 active:bg-blue-100') 
						<svg class='fill-blue-500' xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6m-2 0l-8 5l-8-5h16m0 12H4V8l8 5l8-5v10Z"/></svg>

					- const result = profileUser?.followers.includes(logedInUser._id) ? 'following' : 'follow'
					button(type="button"  name='follow'
					class='px-3 py-1.5 rounded-3xl border border-blue-500 text-blue-500 font-medium'
					class=' hover:bg-blue-50 hover:text-blue-600 active:bg-blue-100 active:text-blue-700'
					) #{result}

				//- Follow details
				div(class=' text-slate-500 space-y-0.5 px-4 py-2')
					p(class=' text-slate-700 font-medium') #{profileUser.username}
					p @#{profileUser.username}
					div(class='flex gap-2 items-center')
						a(href=`/profile/${profileUser.username}/following`) 
							span(class='text-slate-700 font-medium') 3 
							span(class='hover:text-blue-500 hover:underline hover:decoration-dotted hover:decoration-blue-500 ') following

						a(href=`/profile/${profileUser.username}/followers`) 
							span(class='text-slate-700 font-medium') 3 
							span(class='hover:text-blue-500 hover:underline hover:decoration-dotted hover:decoration-blue-500 ') followers

			//- Posts & Reply Section 
			div(class='border border-slate-100 shadow-sm mt-4')
				nav(name='tab-container' class='grid grid-cols-2 ')
					p(id=0 class='tab-active hover:bg-blue-100 text-center p-2 cursor-pointer') Posts
					p(id=1 class='hover:bg-blue-100 text-center p-2 cursor-pointer') replies


				div(name='tab-content-container' class='border border-blue-500 py-1.5 px-3 mb-10')
					//- each tweet in user.tweets
						//- +Tweet(tweet)
					
					div(class='tab-item' hidden=false id='0') Posts
					div(class='tab-item' hidden id='1') Replies





		//- right-section
		div(class='hidden md:col-span-3')
			p right section hiddend for now
	

	script.
		const logedInUser = !{ JSON.stringify(logedInUser) } 	
		const profileUser = !{ JSON.stringify(profileUser) } 	


		// show follow button only others user, not self user
		const followContainer = $('[name=follow-container]')
		followContainer.classList.toggle('invisible', profileUser.username === logedInUser.username )


		//-----[ Tabs container ]-----
		$('[name=tab-container]').addEventListener('click', (evt) => {

			// Step-1: add active tab style
			Array.from(evt.currentTarget.children).forEach( (tab, index) => {
				tab.classList.toggle('tab-active', +evt.target.id === index)
			}) 

			// Step-2: Show Active Tab content
			Array.from( document.querySelectorAll('.tab-item') ).forEach((tabItem, index) => {
				tabItem.hidden = evt.target.id !== index.toString()
			})
		})


	script(src="/js/userProfile.js") 

