mixin Avatar(props = {})
	- 
		const { 
			src='', 
			alt='', 
			size='w-12 h-12'
		} = props

	img(
		src=src
		alt= alt || src
		class='rounded-full border border-blue-500 shadow-md p-0.5'
		class=size
	)