doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title #{pageTitle} Page
		//- link(rel="stylesheet", href="/css/style.css")
		link(
			rel="stylesheet" 
			href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.css" 
			integrity="sha512-hvNR0F/e2J7zPPfLC9auFe3/SE0yG4aJCOd/qxew74NN7eyiSKjr7xJJMu1Jy2wf7FXITpWS1E/RY8yzuXN7VA==" 
			crossorigin="anonymous" 
			referrerpolicy="no-referrer"
		)

		script(src="/socket.io/socket.io.js") 
		script(src="/js/tailwind_cdn.js") 
		script(src="/js/utils.js") 
		include ../components/@index.pug
		include ../components/mui/@index.pug
	body  
		.container.m-auto
			block content
		



		script(
			src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js" 
			integrity="sha512-9KkIqdfN7ipEW6B6k+Aq20PV31bjODg4AA52W+tYtAE0jE0kMx49bjJ3FgvS56wzmyfMUHbQ4Km2b7l9+Y/+Eg==" 
			crossorigin="anonymous" 
			referrerpolicy="no-referrer"
		)
		script(src="/js/socket-client.js") 