extends ../layout/mainLayout

block middle-block
	if !logedInUserJs
		div(class='absolute top-0 left-0 right-0 bg-red-500 text-white') 
			p(class='px-4 py-2 text-xl text-center') logedInUserJS is missing from backend

	else
		script(nonce=cspNonce).
			const logedInUser = !{logedInUserJs}

		div(class='col-span-10 md:col-span-7')
			h1(class='p-2 border-b border-slate-200 text-slate-900 font-bold') New Message

			div(class='px-2 py-3  text-slate-900 flex items-center gap-2 flex-wrap') 
				label(for='message-input' class='text-slate-700') To:
				div(class='flex-1 relative')
					input#message-input(type="text", name="message-input" placeholder='Type the name of other person'
						class='w-full flex-1 border border-slate-200 pl-1.5 pr-8 py-1.5 rounded text-slate-600'
						class='focus:outline-none focus:border-slate-400 placeholder:text-sm '
					)
					button(type="button" name='cross-input-button'
						class='absolute top-1.5 right-2 text-slate-500 p-[1px] rounded-full bg-slate-50'
						class='hover:text-slate-800 hover:bg-slate-100'
						class='active:text-slate-800 active:bg-slate-200'
					) 
						<svg class='' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5" d="m8.464 15.535l7.072-7.07m-7.072 0l7.072 7.07"/></svg>
			
					div#selected-users-container(
						class='border-b border-slate-200 py-0.5'
						class=' flex gap-0.5 [&>*]:text-xs [&>*]:whitespace-nowrap [&>*]:font-light'
						class='[&>*]:bg-slate-50 [&>*]:text-slate-900 [&>*]:border [&>*]:border-slate-400'
						class='[&>*]:rounded-md [&>*]:px-2 [&>*]:py-0.5 '
					)
						//- button( class='selected-username hover:bg-slate-100 active:bg-slate-200') Riajul Islam 
						//- button( class='selected-username hover:bg-slate-100 active:bg-slate-200') Fiaz Sofone

			div(class='px-1 py-0.5')
				sestion#users-container

			div(class='mt-2 p-2 flex justify-center')
				button(type="button" name='create-chat'
					class='bg-blue-500 text-slate-100 px-3 py-1.5 rounded-md shadow-md border border-blue-500'
					class='hover:bg-blue-600 hover:text-slate-50 px-3 hover:border-blue-600'
					class='active:bg-blue-500 active:text-slate-100 active:border-blue-500'
					class='disabled:shadow-sm disabled:bg-slate-100 disabled:text-slate-400 disabled:border-slate-300'
				) Create Chat

		block right-block


block prepend script
	if logedInUserJs
		script( type='module' src="/js/page/messageNew.js" ) 


//- block content
	include ../icon/icons

	div(class='grid grid-cols-12 p-2 divide-x')
		//- left-section
		div(class='col-span-2')
			+NavComponent()


		//- middle-section
		div(class='col-span-10 md:col-span-7')
			h1(class='p-2 border-b border-slate-200 text-slate-900 font-bold') New Message

			div(class='px-2 py-3  text-slate-900 flex items-center gap-2 flex-wrap') 
				label(for='message-input' class='text-slate-700') To:
				div(class='flex-1 relative')
					input#message-input(type="text", name="message-input" placeholder='Type the name of other person'
						class='w-full flex-1 border border-slate-200 pl-1.5 pr-8 py-1.5 rounded text-slate-600'
						class='focus:outline-none focus:border-slate-400 placeholder:text-sm '
					)
					button(type="button" name='cross-input-button'
						class='absolute top-1.5 right-2 text-slate-500 p-[1px] rounded-full bg-slate-50'
						class='hover:text-slate-800 hover:bg-slate-100'
						class='active:text-slate-800 active:bg-slate-200'
					) 
						<svg class='' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5" d="m8.464 15.535l7.072-7.07m-7.072 0l7.072 7.07"/></svg>
			
					div#selected-users-container(
						class='border-b border-slate-200 py-0.5'
						class=' flex gap-0.5 [&>*]:text-xs [&>*]:whitespace-nowrap [&>*]:font-light'
						class='[&>*]:bg-slate-50 [&>*]:text-slate-900 [&>*]:border [&>*]:border-slate-400'
						class='[&>*]:rounded-md [&>*]:px-2 [&>*]:py-0.5 '
					)
						//- button( class='selected-username hover:bg-slate-100 active:bg-slate-200') Riajul Islam 
						//- button( class='selected-username hover:bg-slate-100 active:bg-slate-200') Fiaz Sofone

			div(class='px-1 py-0.5')
				sestion#users-container

			div(class='mt-2 p-2 flex justify-center')
				button(type="button" name='create-chat'
					class='bg-blue-500 text-slate-100 px-3 py-1.5 rounded-md shadow-md border border-blue-500'
					class='hover:bg-blue-600 hover:text-slate-50 px-3 hover:border-blue-600'
					class='active:bg-blue-500 active:text-slate-100 active:border-blue-500'
					class='disabled:shadow-sm disabled:bg-slate-100 disabled:text-slate-400 disabled:border-slate-300'
				) Create Chat


		//- right-section
		div(class='hidden md:col-span-3')
			p right section hiddend for now
	

	script(nonce=cspNonce).
		const logedInUser = !{JSON.stringify(logedInUser)}

		//- Disable button if input is empty
		const messageInput = $('[name=message-input]')
		const createChatButton = $('[name=create-chat]')
		const crossInputButton = $('[name=cross-input-button]')
		const usersContainer = $('#users-container')

		createChatButton.disabled = true

		//- messageInput.addEventListener('input', (evt) => {
		//- 	createChatButton.disabled = !evt.target.value.trim()  
		//- })

		messageInput.value = '' 	// reset input value on page refresh
		crossInputButton.addEventListener('click', (evt) => {
			messageInput.value = ''
			usersContainer.innerHTML = ''
			document.querySelectorAll('.selected-username').forEach(el => el.remove())
			createChatButton.disabled = true
		})





	script(src="/js/message-new.js") 


