extends ../layout/mainLayout

block middle-block
	if !logedInUserJs
		div(class='absolute top-0 left-0 right-0 bg-red-500 text-white') 
			p(class='px-4 py-2 text-xl text-center') logedInUserJS is missing from backend

	else
		script(nonce=cspNonce).
			const logedInUser = !{logedInUserJs}

		style.
			.active-check {
				color: #3b82f6;
				border-color: #3b82f6;
				font-weight: 700;
			}

		div(class='col-span-10 md:col-span-7 min-h-screen relative')
			div(class='p-2 min-h-full flex flex-col justify-between ')
				div
					div(class='flex items-center justify-between p-2 border-b border-slate-200 text-slate-900')
						h1(class=' font-bold') Notification
						button(name='check-all' type='button' 
							class='shadow-2xl border border-slate-300 p-0.5 bg-slate-50 text-slate-500 rounded-md'
							class='hover:bg-slate-100 hover:border-slate-400 hover:text-slate-600'
							class='active:bg-blue-100 active:border-blue-500 active:text-blue-600'
						)
							<svg class='w-4 h-4 pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M.41 13.41L6 19l1.41-1.42L1.83 12m20.41-6.42L11.66 16.17L7.5 12l-1.43 1.41L11.66 19l12-12M18 7l-1.41-1.42l-6.35 6.35l1.42 1.41L18 7Z"/></svg>

					//- div(class='flex items-center gap-2 p-2 border-b border-slate-200 text-slate-900')
						div( name='chat-image-container'
							class='flex [&>img]:w-8 [&>img]:h-8 [&>img]:rounded-full '
							class='[&>*:not(:first-child)]:-ml-3'
						) 
							//- img(src='/logo.png')
							//- img(src='/images/users/default.jpg')

						span(name='more-image-placeholder' class='-ml-0.5 text-slate-500') 
						span(name='edit-chat' class='text-slate-600 cursor-pointer') Group Name

					//- ----[ Show Message section ]-----
					div(name='notification-container' class='text-slate-500')
						//- each notification in notifications
						//- 	- const fullName = notification?.userFrom.fullName
						//- 	- const type = notification.type
						//- 	- const kind = notification.kind

						//- 	a(href=`/tweet/${notification.entityId}`)
						//- 		+List({
						//- 			id: notification._id,
						//- 			isHover: true,
						//- 			isActive: !notification.isOpened,
						//- 			secondary: `${fullName} ${type} your ${kind}`,
						//- 			avatar: notification.userFrom.avatar,
						//- 			icon: `svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="currentColor" d="m6.4 18.308l-.708-.708l5.6-5.6l-5.6-5.6l.708-.708l5.6 5.6l5.6-5.6l.708.708l-5.6 5.6l5.6 5.6l-.708.708l-5.6-5.6l-5.6 5.6Z"`
						//- 		})









			div(name='page-loading-indicator' class='absolute inset-0 hidden')
				div(class='h-full flex justify-center items-center text-slate-500')
					<svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 24 24"><circle cx="12" cy="2" r="0" fill="currentColor"><animate attributeName="r" begin="0" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="2" r="0" fill="currentColor" transform="rotate(45 12 12)"><animate attributeName="r" begin="0.125s" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="2" r="0" fill="currentColor" transform="rotate(90 12 12)"><animate attributeName="r" begin="0.25s" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="2" r="0" fill="currentColor" transform="rotate(135 12 12)"><animate attributeName="r" begin="0.375s" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="2" r="0" fill="currentColor" transform="rotate(180 12 12)"><animate attributeName="r" begin="0.5s" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="2" r="0" fill="currentColor" transform="rotate(225 12 12)"><animate attributeName="r" begin="0.625s" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="2" r="0" fill="currentColor" transform="rotate(270 12 12)"><animate attributeName="r" begin="0.75s" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="2" r="0" fill="currentColor" transform="rotate(315 12 12)"><animate attributeName="r" begin="0.875s" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle></svg>

		block right-block

block prepend script
	if logedInUserJs
		script( type='module' src="/js/page/notification.js" ) 



//- block content
	include icon/icons

	style.
		.active-check {
			color: #3b82f6;
			border-color: #3b82f6;
			font-weight: 700;
		}

	div(class='grid grid-cols-12 divide-x')
		//- left-section
		div(class='col-span-2 p-2')
			+NavComponent()

		//- middle-section
		//- +GroupNameChangeModal()
		div(class='col-span-10 md:col-span-7 min-h-screen relative')
			div(class='p-2 min-h-full flex flex-col justify-between ')
				div
					div(class='flex items-center justify-between p-2 border-b border-slate-200 text-slate-900')
						h1(class=' font-bold') Notification
						button(name='check-all' type='button' 
							class='shadow-2xl border border-slate-300 p-0.5 bg-slate-50 text-slate-500 rounded-md'
							class='hover:bg-slate-100 hover:border-slate-400 hover:text-slate-600'
							class='active:bg-blue-100 active:border-blue-500 active:text-blue-600'
						)
							<svg class='w-4 h-4 pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M.41 13.41L6 19l1.41-1.42L1.83 12m20.41-6.42L11.66 16.17L7.5 12l-1.43 1.41L11.66 19l12-12M18 7l-1.41-1.42l-6.35 6.35l1.42 1.41L18 7Z"/></svg>

					//- div(class='flex items-center gap-2 p-2 border-b border-slate-200 text-slate-900')
						div( name='chat-image-container'
							class='flex [&>img]:w-8 [&>img]:h-8 [&>img]:rounded-full '
							class='[&>*:not(:first-child)]:-ml-3'
						) 
							//- img(src='/logo.png')
							//- img(src='/images/users/default.jpg')

						span(name='more-image-placeholder' class='-ml-0.5 text-slate-500') 
						span(name='edit-chat' class='text-slate-600 cursor-pointer') Group Name

					//- ----[ Show Message section ]-----
					div(name='notification-container' class='text-slate-500')
						//- each notification in notifications
						//- 	- const fullName = notification?.userFrom.fullName
						//- 	- const type = notification.type
						//- 	- const kind = notification.kind

						//- 	a(href=`/tweet/${notification.entityId}`)
						//- 		+List({
						//- 			id: notification._id,
						//- 			isHover: true,
						//- 			isActive: !notification.isOpened,
						//- 			secondary: `${fullName} ${type} your ${kind}`,
						//- 			avatar: notification.userFrom.avatar,
						//- 			icon: `svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="currentColor" d="m6.4 18.308l-.708-.708l5.6-5.6l-5.6-5.6l.708-.708l5.6 5.6l5.6-5.6l.708.708l-5.6 5.6l5.6 5.6l-.708.708l-5.6-5.6l-5.6 5.6Z"`
						//- 		})









			div(name='page-loading-indicator' class='absolute inset-0 hidden')
				div(class='h-full flex justify-center items-center text-slate-500')
					<svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 24 24"><circle cx="12" cy="2" r="0" fill="currentColor"><animate attributeName="r" begin="0" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="2" r="0" fill="currentColor" transform="rotate(45 12 12)"><animate attributeName="r" begin="0.125s" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="2" r="0" fill="currentColor" transform="rotate(90 12 12)"><animate attributeName="r" begin="0.25s" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="2" r="0" fill="currentColor" transform="rotate(135 12 12)"><animate attributeName="r" begin="0.375s" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="2" r="0" fill="currentColor" transform="rotate(180 12 12)"><animate attributeName="r" begin="0.5s" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="2" r="0" fill="currentColor" transform="rotate(225 12 12)"><animate attributeName="r" begin="0.625s" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="2" r="0" fill="currentColor" transform="rotate(270 12 12)"><animate attributeName="r" begin="0.75s" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="2" r="0" fill="currentColor" transform="rotate(315 12 12)"><animate attributeName="r" begin="0.875s" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle></svg>


		//- right-section
		div(class='hidden md:col-span-3')
			p right section hiddend for now
	



			script(nonce=cspNonce).
				const logedInUser = !{ JSON.stringify(logedInUser) } 	




			script(src="/js/notification.js") 



